#comHand {
    transform: scaleX(-1);
}

.whiteText {
    color: white !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #playerHand {
        width: 40% !important;
        height: 40% !important;
    }
    #comHand {
        width: 40% !important;
        height: 40% !important;
    }
    #winsAndLosses {
        display: block !important;
    }
    #winnerCircle {
        font-size: 24px;
    }
}
